<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31462645493-c786nkss2dsbd55oq8u8lkvsldhh0a6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31462645493-c786nkss2dsbd55oq8u8lkvsldhh0a6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31462645493-md8i8ref0d6ro56qjl3h7c6temlgv3la.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUlz4IFoU_f_tmxJeQYCHW2YrbY1l8jLA</string>
	<key>GCM_SENDER_ID</key>
	<string>31462645493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harte</string>
	<key>PROJECT_ID</key>
	<string>harte-be894</string>
	<key>STORAGE_BUCKET</key>
	<string>harte-be894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31462645493:ios:2e4a000b87917b4ac3afbc</string>
</dict>
</plist>